/* --Code des contenants--*/  
#wrapper {
   position:absolute;
   min-width: 100%;
   min-height: 120%;
   background-color: beige;
   background-attachment:scroll;
   background-size:cover;
   background-position: center;
}
#container {
   margin-top: 10%;
   width: 60%;
   height: 58rem;
   background-color:beige;
   margin-left: 20%;
   border-radius: 1%;
   Border: solid;
}
.box-container{
   display: grid;
   grid-template-columns: 25% 20% 20% 20% ;
   background-color: white;
   border-radius:1%;
   color: black;
   border-bottom: solid 1px black;
}
.box1{
   margin-left: 3.5%;
    margin-top: 7%;
    float:left;
    
}
/* --Code des contenants--*/  

/* --Code du menu de navigation--*/
header {
   font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
   margin-left: 0px;
}
.Logo{
   border: 6px solid rgb(64, 46, 141);
   border-radius: 40%;
   width: 60px;
   margin-top:0.7rem;
   margin-left: 15%;
   }
.img{
   float: left;
}
.Lit{
   font-size: 1.9rem;
   margin-top:0.9rem;
   margin-left: 6.5rem ;
}
.auteur {
   border-radius: 5px;
   width: 14rem;
   height: 2rem;
   font-size: 1.3rem;
   margin-top: 17%;
   text-align: center;
   margin-left: 15%;
}
.panier,
.Cs {
   color: black;
   text-decoration: none;
}   
.panier {
   font-size: 1.7rem;
   margin-top: 14%;
   margin-left: 65%;
}
.acceuil{
   margin-left: 65%;
   margin-top: 14%;
   font-size: 1.7rem;
}
a {
   text-decoration: none;
   text-transform: none;
   color: black;
}
/* --Code du menu de navigation--*/

/*---Code de la grille--*/
.grid {
   display: grid;
   grid-template-columns: 50% 50%;
   height: 100%;
}
.grid1{
   background-color:rgb(212, 126, 126) ;
   border: 2px solid rgb(64, 46, 141);
   height: 88.5%;
}
.grid2{
   background-color: rgb(130, 130, 177) ;
   border: 2px solid rgb(64, 46, 141);
   height: 88.5%;
}
/*---Code de la grille--*/

/*--Champs à remplir--*/
.form-control {
   display:block;
   margin: auto;
   margin-top: 3rem;
   width: 24rem;
   text-align: center;
   font-size: larger;
   height: 3rem;
   padding: auto ;
}
/*--Champs à remplir--*/

/* --Code des boutton clickables-- */
.boutton-connexion {
   display: block;
   margin: auto;
   margin-top: 3rem;
   width: 13rem;
   height:4rem;
   border-radius: 10%;
   background-color:rgb(102, 80, 179);
   color: white;
   font: bold 15px arial, sans-serif;
}
.boutton-connexion1 {
   display: block;
   margin: auto;
   margin-top: 12%;
   width: 17rem;
   height:4rem;
   border-radius: 10%;
   background-color:rgb(226, 140, 12);
   color: white;
   font: bold 15px arial, sans-serif;
   border-radius: 10%;
}
/* --Code des bouttons clickables-- */

/* --Code du texte--*/
span {
   display: block;
   font-size: 2em;
   margin-left: 30%;
   margin-top: 12%;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.pas {
   display: block;
   font-size: 2em;
   margin-left: 150px;
   margin-top: 120px;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.acces {
   margin-top: 2.0rem;
   margin-left: 15%;
   font-size: 1.4rem;
}
.comm {
   font-size: 1.9rem;
   margin: 15% 5% 0 15%;
   font-weight: 100;
}
/* --Code du texte--*/

/* --Code des traits--*/
.trait_dessous
{
   border-top: 4px solid rgb(209, 221, 41);
   width : 25%;
   margin : auto;
   margin-top: 10%;
} 
.trait_dessou
{
   border-top: 4px solid rgb(209, 221, 41);
   width : 25%;
   margin : auto;
   margin-top: 6%;
} 
/* --Code des traits--*/

/*--footer--*/
.str {
   margin-left: -70%;
   margin-top: 5rem;
   
}
.container2{
   height: 23rem;
  
}
.form-label {
   margin-left: -15%;
}
#form1{
   margin-top: 1%;
   margin-left: 1%;
   width:40rem;
}
#subscribe{
   margin-top: 0.8rem;
}
.reseaux {
   padding-top: 1%;
}
/*--footer--*/



